/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body,html {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: #ffffff;
}

.main
{
    color: #fff;
    background-color: #101010;   
    padding: 60px;
}

/* Header styles */
header {
    background-color: #310a5d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.description
{
    font-size: 20px;
    padding:20px;
}
.title
{
    font-weight: 700;
    font-size: 25px;
}
.fa-solid
{
    padding: 10px;
    font-size:30px;
    color: darkblue;
}

/* Footer styles */
footer {
    position:absolute;
    background-color: #310a5d;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}