

/* Resetting default margins and paddings */

  
 
  
/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Header styles */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}
.content .one
{
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  padding-left: 20px;
}
.content .two 
{
  font-size: 25px;
  padding-left: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}