* {
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
}
.head{
    background-color: #310a5d;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.card-img-top {
    border-radius: 50%;
    height: 150px !important;
    width: 150px !important;
    position: relative;
    left: 80px;
    top: -80px;
    object-fit: cover;
}

.card {
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px !important;
}

.card:hover {
    box-shadow: rgba(255, 255, 255, 0.8) 0px 3px 6px, rgba(255, 255, 255, 0.8) 0px 3px 6px;

}

.card-body {
    margin-top: -50px;
}

.bi {
    font-size: 25px;
}

footer {
    position:absolute;
    background-color: #310a5d;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .card-img-top {

        left: 48px !important;

    }
}